.products_detail .carousel-item {
	height: auto
}
.wrapper_control_left ul.list_control label{
	cursor: pointer;
}
.wrapper_control_left ul.list_control input{
	display: none
}
.wrapper_control_left .cate_list .list_color li::before{
	display: none
}
.wrapper_control_left .cate_list .list_color li:nth-child(1) label{
	background: #8125e2
}
.wrapper_control_left .cate_list .list_color li:nth-child(2) label{
	background: #cecece
}
.wrapper_control_left .cate_list .list_color li:nth-child(3) label{
	background: #f98d01
}
.wrapper_control_left .cate_list .list_color li:nth-child(4) label{
	background: #000
}
.wrapper_control_left .cate_list .list_color li:nth-child(5) label{
	background: #ff0100
}
.wrapper_control_left .cate_list .list_color li:nth-child(6) label{
	background: #e8e8e8
}
.wrapper_control_left .cate_list .list_color li:nth-child(7) label{
	background: #eeee22
}
.wrapper_control_left .cate_list .list_color li:nth-child(8) label{
	background: #7c7c7c
}
.wrapper_control_left .cate_list .list_color li:nth-child(9) label{
	background: #0d00ff
}
.wrapper_control_left .cate_list .list_color li:nth-child(10) label{
	background: #7bd303
}
@media(max-width: 991px){
	.wrap_bank{
		display: block;
	}
	.mua_hang{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background:#97c153;
		padding:12px 10px;
		text-align: center;
		z-index: 16;
	}
	.mua_hang button{
		color: #fff;
		border:none;
		box-shadow: none!important;
		font-weight: bold;
		text-transform: uppercase;
	}
}
@media (max-width: 767px){
	.wrapper_list_silide .wrap_top .title h3::before {
	    border-right: 30px solid transparent!important;
	}
}